/* app/globals.css */
:root {
  --background: #000;
  --foreground: #fff;
}

html, body {
  padding: 0;
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, sans-serif;
}

* {
  box-sizing: border-box;
}
